:root {
  --primary-text-color: rgba(0, 0, 0, 1);
  --secondary-text-color: rgba(255, 255, 255, 1);
  --accent-color: rgba(89, 171, 176, 1);
  --active-color: rgba(96, 223, 232, 1);
  --primary-bgc: #e5e5e5;
}

body {
  color: var(--primary-text-color);
  padding: 20px;
}

ul {
  margin: 0;
  padding: 0;
}

h2,
h3,
p {
  margin: 0;
  padding: 0;
}

img {
  display: inline-block;
  width: 100%;
  height: auto;
}

.container {
  padding: 25px 50px;
}

.link {
  text-decoration: none;
  color: inherit;
}

.list {
  list-style: none;
}

.side-block {
  margin: 50px 0;
}

.nav-item {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.nav-item:hover,
.nav-item:focus,
.current {
  font-weight: 600;
}

.contact {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
}

.contact:hover,
.contact:focus {
  color: var(--accent-color);
}

.contact-svg-email {
  width: 16px;
  height: 12px;
  fill: currentColor;
  margin-right: 10px;
}

.contact-svg-phone {
  width: 10px;
  height: 16px;
  fill: currentColor;
  margin-right: 10px;
}

.img-container {
  width: 50%;
  height: auto;
}

.letter-container {
  padding-right: 50px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@media (max-width: 425px) {
  nav {
    width: 100%;
    padding: 15px 0;
  }

  .container {
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin-bottom: 42px;
    padding: 0;
    gap: 24px;
  }

  .nav-container {
    flex-direction: column;
  }

  .img-container,
  .subscribe-container {
    width: 100%;
  }

  .letter-container {
    padding-right: 0;
  }

  .letter-img {
    padding: 0;
  }

  .burger {
    display: inline-block;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
  }

  .bar1,
  .bar2,
  .bar3 {
    width: 35px;
    height: 5px;
    background-color: #4485b9;
    margin: 6px 0;
    transition: 0.4s;
  }

  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }

  .change .bar2 {
    opacity: 0;
  }

  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }
}
