.site-nav {
  flex-direction: column;
  margin-bottom: 30px;
}

.nav-item {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.nav-item:hover,
.nav-item:focus,
.current {
  font-weight: 600;
}

@media (min-width: 425px) {
  .site-nav {
    display: flex;
    align-items: center;
    margin-right: 24px;
  }
}
